/Course.class
/Evaluator.class
/Lab.class
/Node.class
/Parser.class
/SearchProblemMain.class
/Slot.class
/Solver.class
/Validator.class
/target/
/.classpath
/*.project
/.settings
/*.springBeans
/bin
/bin/
bin
/CPSC-433-Searching-Problem.iml/