/Course.class
/Evaluator.class
/Lab.class
/Node.class
/Parser.class
/SearchProblemMain.class
/Slot.class
/Solver.class
/Validator.class
/Day.class
/ScheduledClass.class
/IncompatibleCoursePair.class
/IncompatibleClassPair.class
/ClassPreference.class
